body {
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: blue;
}

.cd01 {
    display: inline-block;
}

.h1-01 {
    display: inline-block;
    padding: 0 150px 0 150px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 60px;
    background-color: #aad8cc;
}

.h1-02 {
    font-size: 30px;
    color: orange;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
}

.h1-03{
    margin-left: 0.5em;
    font-size: 30px;
    color: green;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
}

.h1-04 {
    margin-bottom: 0;
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.div-01 {
    justify-content: center;
    display: flex;
}

.div-02 {
    margin-top: 50px;
}

.a-01 {
    font-size: 15px;
}

.img-01 {
    transition-duration: 0.5s;
}

.img-01:hover {
    transform:scale(1.15,1.15);
}

@media screen and (max-width: 1000px){
    .cd01 { zoom: 90%;}
}

@media screen and (max-width: 900px){
    .cd01 { zoom: 80%;}
}

@media screen and (max-width: 800px){
    .cd01 { zoom: 70%;}
}

@media screen and (max-width: 700px){
    .cd01 { zoom: 60%;}
}

@media screen and (max-width: 600px){
    .cd01 { zoom: 50%;}
}

@media screen and (max-width: 500px){
    .cd01 { zoom: 40%;}
}